<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HR System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css')}}">
</head>
<body>
    <header>
        <nav class="navbar position-relative mt-3">
            <div class="hamburger position-absolute top-50 start-0 translate-middle-y mx-5">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
    
            <p class="title fs-2 position-absolute top-50 start-50 translate-middle">Human Resource System</p>
            
            <ul class="nav-menu">
                <li class="nav-item"><a href="{{ url_for('index')}}" class="nav-link">New Employee</a></li>
                <li class="nav-item"><a href="{{ url_for('employee_list')}}" class="nav-link">Employee List</a></li>
            </ul>
        </nav>
    </header>

    <div class="content-section">
        <div id="overlay"></div>
        <div class="form-section">
            <span class="section-title">New Employee</span>

            <form action="/insert" class="entry-form" method="POST">
                <div class="row form-row">
                    <div class="inputbox col">
                        <input name="emp_id" type="text" required>
                        <span class="details">Employee ID</span>
                    </div>
                    <div class="inputbox col">
                        <input name="name" type="text" required>
                        <span class="details">Full Name</span>
                    </div>
                </div>
                <div class="row form-row">
                    <div class="inputbox col">
                        <input name="ic_no" type="text" required>
                        <span class="details">Identity Card No.</span>
                    </div>
                    <div class="gender-selection col">
                        <span class="gender">Gender</span>
                        <select name="gender" id="gender-select">
                            <option selected>Select Gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </div>
                </div>
                <div class="row form-row">
                    <div class="dob-section col">
                        <span class="dob">Date of Birth (DOB)</span>
                        <input name="dob" type="date" id="dob-input" required>
                    </div>
                    <div class="inputbox col">
                        <input name="age" type="text" id="age-text" required>
                        <span class="details">Age</span>
                    </div>
                </div>
                <div class="row form-row">
                    <div class="inputbox col">
                        <input name="position" type="text" required>
                        <span class="details">Position</span>
                    </div>
                    <div class="inputbox col">
                        <input name="department" type="text" required>
                        <span class="details">Department</span>
                    </div>
                </div>
                <div class="row form-row">
                    <div class="inputbox col">
                        <input name="salary" type="text" required>
                        <span class="details">Salary (RM)</span>
                    </div>
                    <div class="image-section col">
                        <span class="image">Image</span>
                        <input name="emp_image" type="file" id="image-input">
                    </div>
                </div>
                
                <div class="btn-section">
                    <button class="submit-btn" type="submit">Submit</button>
                    <button class="cancel-btn">Cancel</button>
                </div>
            </form>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/main.js')}}"></script>
    <script src="{{ url_for('static', filename='js/form.js')}}"></script>
</body>
</html>